<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <style>
        .target {
            background-color: red;
        }
    </style>
</head>
<body>

    <ul>
        <li th:each="dto, state : ${list}" th:class="${dto.sno % 5 == 0} ?'target'" th:text="${dto}">
        </li>

    </ul>

</body>
</html>